html, body, #root, .app {
  height: 100%;
  background-color: #f3f3f3; }

img {
  max-width: 100%; }

.app {
  padding: 40px; }
  .app .search {
    height: 80px; }
  .app .list {
    height: calc(100% - 80px);
    margin-left: -10px; }
    .app .list .movie__list {
      height: calc(100% - 60px);
      margin-bottom: 10px;
      padding-left: 10px; }
      .app .list .movie__list > .ant-row-flex, .app .list .movie__list > .ant-row-flex .movie_column_left, .app .list .movie__list > .ant-row-flex .movie_column_right, .app .list .movie__list > .ant-row-flex .selected_movie {
        height: 100%; }
    .app .list .movie_column_left {
      overflow: auto;
      padding-left: 35px; }
    .app .list .movie__pagination {
      height: 50px;
      background-color: #fff;
      padding-right: 5px; }
      .app .list .movie__pagination .ant-row-flex {
        height: 100%;
        align-items: center; }
      .app .list .movie__pagination .showing__pagination {
        font-size: 16px;
        pointer-events: none; }
    .app .list .movie {
      margin: 0 5px 10px 0;
      padding: 10px;
      position: relative;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
      transition: all .3s ease-in-out;
      background-color: #fff;
      display: flex;
      align-items: center; }
      .app .list .movie .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        font-size: 40px;
        transform: translate(-20px, -40px); }
      .app .list .movie .img {
        display: flex;
        align-items: center;
        height: 85px;
        width: 60px; }
        .app .list .movie .img img {
          max-height: 100%; }
        .app .list .movie .img .anticon {
          font-size: 50px; }
      .app .list .movie .info {
        max-width: calc(100% - 60px); }
        .app .list .movie .info p {
          padding: 0 15px;
          margin: 0; }
      .app .list .movie .year .ant-tag {
        font-size: 10px; }
      .app .list .movie .type .ant-tag {
        font-size: 12px; }
      .app .list .movie .title {
        font-size: 18px;
        line-height: 2.4;
        display: block;
        color: #108ee9;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .app .list .movie .number {
        position: absolute;
        left: -33px;
        background-color: #fff;
        padding: 2px 0;
        width: 30px;
        text-align: center;
        cursor: default;
        border-radius: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .app .list .movie:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); }
    .app .list .selected_movie {
      background-color: #fff;
      padding: 20px;
      overflow: auto; }
      .app .list .selected_movie .detail {
        padding-left: 15px; }
        .app .list .selected_movie .detail h1 {
          margin-bottom: 10px;
          line-height: 1;
          padding-right: 30px; }
        .app .list .selected_movie .detail .information {
          padding: 10px;
          background-color: #f7f7f7; }
          .app .list .selected_movie .detail .information p {
            margin-bottom: 2px;
            font-weight: 500; }
        .app .list .selected_movie .detail .anticon.back {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 25px;
          color: #d0d0d0; }
      .app .list .selected_movie .img .anticon {
        font-size: 75px;
        margin-left: 35px; }
      .app .list .selected_movie .ant-empty-normal .ant-empty-image {
        height: 200px; }
        .app .list .selected_movie .ant-empty-normal .ant-empty-image svg {
          width: 200px; }
      .app .list .selected_movie .ant-empty-normal .ant-empty-description {
        font-size: 25px; }

/*# sourceMappingURL=index.css.map */
